/* general styleing */
body{
    background-color: lightblue;
}

header{
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
}

h1, h2, h3, h4, h5, h6, p{
    font-family: Calibri;
    color: black;
}

h1{
    font-size: 36pt;
}

h3{
    font-size: 28pt;
}

p{
    font-size: 12pt;
}

main{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    
}

aside{
    background-color: rgb(255, 70, 70);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}


/* makes the logo fit and be in the right place along with the header */
#logo{
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 10px;
}

#mainHeader{
    display: inline;

}


/* makes the anouncment image behave */
#ANOUNCMENT{
    height: 90px;
    width: 150px;
    float: left;
    margin-right: 10px;
}


/* changes the color and makes the boarder for the footer */
footer{
    background-color: darkgray;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}


/* makes the nav bar horizontal, fit the screen and change color when mouse hovers */
nav{
    margin: 10px;
}
nav li{
    border: 2px, solid, red;
    background-color: white;
    list-style-type: none;
    float: left;
    width: 14.28%;
    padding: 16px;
    
}

nav li a{
    color: white;
    text-decoration: none;
}

nav li:hover{
    background-color: black;
}

.active{
    background-color: red;
}
nav ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
}


/* provides style for the table on the event calender page */
table{
    font-family: Calibri;
    text-size-adjust: 10pt;
    border-collapse: collapse;
}

td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    width: 14.2857%
}

tr, th{
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}

tr:nth-child(even){
    background-color: #f2f2f2;
    
}

td:hover{
    background-color: lightblue;
}

th{
    background-color: black;
    color: white;
    
}


/* this makes the image galary into a grid that looks nice */
.gallery-img{
    width: 100%;
}

#img-gallery{
    padding-top: 10px;
}

#img-gallery .row{
    margin-bottom: 10px;
}

#container{
    width: 10%;
}


/* this makes the text on the third carasell slide white */
#thirdCaption p {
    color: white;
}

#thirdCaption h5 {
    color: white;
}


/* this makes the columns in the contact us page happen and alows for them to be unequal */
* {
    box-sizing: border-box;
}

.Contact-row {
    display: flex;
    padding: 10px;
}

.Contact-column-Left {
    width: 60%;
    padding: 10px;
}
.Contact-column-Right {
    width: 40%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* this makes the boarder around the form and changes the background within that boarder */
fieldset {
    border: 1px solid black;
    background-color: lightgray;
    padding: 10px;
  }
  
input {
    margin: 5px;
}


/* aligns the login form to the right */
#login{
    float: right;
}


/* this makes the hall of heros image fit and also ensures that the image will gain a yelow 'halo' when the mouse is over it */
#Hero{
    width: 100%;
    height: 90%;
}

#Hero:hover{
    border: solid yellow 5px;
}

iframe{
    width: 100%;
}

